@tailwind base;

@font-face {
    font-family: "Inter-Light";
    src: url("./../../assets/fonts/Inter-Light.otf");
}

:root {
    --font-primary: "Inter-Light", helvetica, arial, sans-serif;
}

@layer base {
    html {
        font-family: var(--font-primary);
    }


    h1 {
        @apply text-6xl;
    }
}